VITE_FIREBASE_API_KEY=AIzaSyCekfPA6xO61QUSvQi-7nyX96JgS7e6Pcs
VITE_FIREBASE_AUTH_DOMAIN=teach-for-india-volunteers.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=teach-for-india-volunteers
VITE_FIREBASE_STORAGE_BUCKET=teach-for-india-volunteers.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=611296524310
VITE_FIREBASE_APP_ID=1:611296524310:web:c97ac95c18d65074a91d37
